<!-- 大アルカナの戦車のカードの説明 -->
{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{%include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🎴 THE CHARIOT (戦車) 🎴</h1>
                        <h4 class="mt-4">意味：勝利・意志力・決断・前進
                        <br>逆位置：暴走・迷い・敗北</h4>
                    </div>
                </main>

{% include "footer.html" %}