<!-- 小アルカナのカップのカードの説明 -->
{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{%include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🎴 CUPS 🎴</h1>
                        <h4 class="mt-4">カップの1 ：新しい愛、感情の高まり
                        <br>カップの2 ：パートナーシップ、調和、愛の絆
                        <br>カップの3 ：友情、祝福、楽しい時間
                        <br>カップの4 ：倦怠感、退屈、不満足
                        <br>カップの5 ：喪失、後悔、悲しみ
                        <br>カップの6 ：思い出、過去のつながり、純粋な愛
                        <br>カップの7 ：幻想、選択肢、迷い
                        <br>カップの8 ：新たな道、旅立ち、探求
                        <br>カップの9 ：願望成就、満足、幸福
                        <br>カップの10：家族の幸せ、調和、充実感
                        <br>カップのペイジ：ロマンチック、感受性豊か、創造性
                        <br>カップのナイト：愛情表現、夢想家、ロマンス
                        <br>カップのクイーン：共感、母性、感情の深さ
                        <br>カップのキング：感情の安定、理解力、寛容
                        </h4>

                    </div>
                </main>

{% include "footer.html" %}