<!-- 大アルカナの死神のカードの説明 -->
{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{%include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🎴 DEATH (死神) 🎴</h1>
                        <h4 class="mt-4">意味：終わり・変容・再生・新しい始まり
                        <br>逆位置：停滞・拒絶・変化を恐れる</h4>

                    </div>
                </main>

{% include "footer.html" %}