<nav class="sb-sidenav-menu-nested nav">
    <a class="nav-link" href="{% url 'uranaiapp:E_one_oracle' %}">ワンオラクル</a>
    <!-- <a class="nav-link" href="{% url 'uranaiapp:E_two_oracle' %}">ツーオラクル</a> -->
    <!-- <a class="nav-link" href="{% url 'uranaiapp:E_two_mind' %}">ツーマインド</a>
    <a class="nav-link" href="{% url 'uranaiapp:E_simple_cross' %}">シンプルクロス</a>
    <a class="nav-link" href="{% url 'uranaiapp:E_three_card' %}">スリーカード</a>
    <a class="nav-link" href="{% url 'uranaiapp:E_golden_trine' %}">ゴールデントリン</a>
    <a class="nav-link" href="{% url 'uranaiapp:E_four_card' %}">フォーカード</a>
    <a class="nav-link" href="{% url 'uranaiapp:E_diamond_cross' %}">ダイヤモンドクロス</a>
    <a class="nav-link" href="{% url 'uranaiapp:E_jupiter_spread' %}">ジュピタースプレッド</a>
    <a class="nav-link" href="{% url 'uranaiapp:E_treasure_triangle' %}">大三角形の秘宝</a>
    <a class="nav-link" href="{% url 'uranaiapp:E_cross_spread' %}">クロススプレッド</a>
    <a class="nav-link" href="{% url 'uranaiapp:E_greek_cross' %}">ギリシャ十字</a>
    <a class="nav-link" href="{% url 'uranaiapp:E_pentagram' %}">ペンタグラム</a>
    <a class="nav-link" href="{% url 'uranaiapp:E_pyramid' %}">ピラミッド</a>
    <a class="nav-link" href="{% url 'uranaiapp:E_two_companies' %}">二社一択</a>
    <a class="nav-link" href="{% url 'uranaiapp:E_hexagram' %}">ヘキサグラム</a>
    <a class="nav-link" href="{% url 'uranaiapp:E_horseshoe' %}">ホースシュー</a>
    <a class="nav-link" href="{% url 'uranaiapp:E_seven_tailings' %}">セブンテーリング</a>
    <a class="nav-link" href="{% url 'uranaiapp:E_seven_days' %}">セブンデイズ</a>
    <a class="nav-link" href="{% url 'uranaiapp:E_spiritual_spread' %}">スピリチュアルスプレッド</a>
    <a class="nav-link" href="{% url 'uranaiapp:E_compatibility_method' %}">相性法</a>
    <a class="nav-link" href="{% url 'uranaiapp:E_nine_card' %}">ナインカード</a>
    <a class="nav-link" href="{% url 'uranaiapp:E_celtic_cross' %}">ケルト十字</a>
    <a class="nav-link" href="{% url 'uranaiapp:E_horoscope_spread' %}">ホロスコープスプレッド</a> -->
</nav>