<!-- 大アルカナの愚者のカードの説明 -->
{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{%include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🎴 FOOL (愚者) 🎴</h1>
                        <h4 class="mt-4">意味：無邪気・自由・冒険・新しい始まり<br> 逆位置：無計画・無責任・愚かさ。</h4>
                    </div>
                </main>

{% include "footer.html" %}