<!-- 大アルカナの教皇のカードの説明 -->
{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{%include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🎴 HIEROPHANT (教皇) 🎴</h1>
                        <h4 class="mt-4">意味：伝統・信仰・指導・道徳
                        <br>逆位置：反抗・束縛・盲信</h4>
                    </div>
                </main>

{% include "footer.html" %}