{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{%include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🎴 タロットカードって？ 🎴</h1>
                        <h4 class="mt-4">タロットカードは全部で 78枚！「大アルカナ（22枚）」と「小アルカナ（56枚）」の2つのグループに分かれています。
                        <br>大アルカナは、人生の大きなテーマや運命を示すカードたち。「愚者」「魔術師」「恋人」「死神」など、一枚一枚が深い意味を持っています。人生のストーリーを語る主人公たちのような存在です🎬
                        <br>小アルカナは、日常の出来事や感情の動きを象徴するカード。トランプのように4つのスートに分かれていて、それぞれ「ワンド（棒）」「カップ（杯）」「ソード（剣）」「ペンタクル（金貨）」のテーマがあります。
                        <br>仕事・恋愛・お金・人間関係など、身近なことを細かく読み解くのにぴったりです💡</h4>
                    </div>
                </main>

{% include "footer.html" %}