<!-- 大アルカナの恋人のカードの説明 -->
{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{%include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🎴 LOVERS (恋人) 🎴</h1>
                        <h4 class="mt-4">意味：愛・調和・選択・魅力
                        <br>逆位置：不一致・誘惑・不誠実</h4>
                    </div>
                </main>

{% include "footer.html" %}