<!-- 大アルカナの魔術師のカードの説明 -->
{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{%include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🎴 MAGICIAN (魔術師) 🎴</h1>
                        <h4 class="mt-4">意味：創造・才能・チャンス・意志の力
                        <br> 逆位置：詐欺・不器用・スキル不足</h4>
                    </div>
                </main>

{% include "footer.html" %}