<!-- 大アルカナの吊るされた男のカードの説明 -->
{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{%include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🎴 MAN (吊るされた男) 🎴</h1>
                        <h4 class="mt-4">意味：試練・忍耐・犠牲・新しい視点
                        <br>逆位置：無駄な犠牲・頑固・停滞</h4>

                    </div>
                </main>

{% include "footer.html" %}