{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{% include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🌿 女帝（The Empress） 🌿</h1>
                        <h4 class="mt-4">正位置 ～ 豊かさと愛を受け入れ、自分を慈しもう
                        <br>あなたの周りには、愛と豊かさが溢れています!
                        <br>それをしっかり受け取り、人生を楽しんでください!
                        <br>今は努力よりも、心地よさや喜びを大切にする時期!
                        <br>無理に何かを変えようとせず、リラックスして自然の流れに身を任せてみましょう!
                        <br>特に人間関係や創造的な活動が豊かになる兆し!
                        <br>自分自身を大切にし、人にも優しさを与えることで、さらなる幸運が舞い込むでしょう!</h4>
                    </div>
                </main>

                <!-- 「占う」ボタン -->
                <div class="position-absolute" style="bottom: 80px; left: 60%; transform: translateX(-50%);">
                    <a href="#" class="btn btn-primary btn-lg">🔮 占う 🔮</a>
                </div>

{% include "footer.html" %}
