{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{% include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🔮 魔術師（The Magician） 🔮</h1>
                        <h4 class="mt-4">逆位置 ～ 焦りは禁物！計画性を持って!
                        <br>せっかくの才能やチャンスを、うまく活かしきれていない可能性があります!
                        <br>スキル不足や準備不足、または周りを納得させる説得力が足りないかも!
                        <br>焦って結果を出そうとすると、うまくいかないことも!
                        <br>計画を見直し、自分に足りないものを補うことが大切です。
                        <br>また、人を欺いたり、逆に誰かに騙されたりしないよう注意しましょう!</h4>
                    </div>
                </main>

                <!-- 「占う」ボタン -->
                <div class="position-absolute" style="bottom: 80px; left: 60%; transform: translateX(-50%);">
                    <a href="#" class="btn btn-primary btn-lg">🔮 占う 🔮</a>
                </div>

{% include "footer.html" %}
