{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{% include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🏛 皇帝（The Emperor） 🏛</h1>
                        <h4 class="mt-4">逆位置 ～ 頑固になりすぎ？柔軟さを大切に!
                        <br>自分のやり方にこだわりすぎて、周りと衝突していませんか？
                        <br>または、プレッシャーに押しつぶされそうになっていないでしょうか？
                        <br>権力を握りすぎると、逆に孤立することもあります!
                        <br>時には、周りの意見を柔軟に受け入れる姿勢が大切です!
                        <br>また、責任感が強すぎると自分を追い詰めてしまうことも!
                        <br>もう少しリラックスし、心の余裕を持つことを意識してみましょう!</h4>
                    </div>
                </main>

                <!-- 「占う」ボタン -->
                <div class="position-absolute" style="bottom: 80px; left: 60%; transform: translateX(-50%);">
                    <a href="#" class="btn btn-primary btn-lg">🔮 占う 🔮</a>
                </div>

{% include "footer.html" %}
