{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{% include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🏛 皇帝（The Emperor） 🏛</h1>
                        <h4 class="mt-4">正位置 ～ しっかりと地に足をつけ、人生を築こう!
                        <br>今のあなたに必要なのは、しっかりとした基盤を作ること!
                        <br>情熱や夢だけではなく、現実的な計画を立て、それを着実に実行していきましょう!
                        <br>リーダーシップを発揮し、責任を持って物事を進めることで、確かな成功が手に入ります!
                        <br>焦らず、一歩ずつ着実に積み上げることが大切!
                        <br>ルールを守りながらも、自分の理想とする未来を力強く築いていってください!</h4>
                    </div>
                </main>

                <!-- 「占う」ボタン -->
                <div class="position-absolute" style="bottom: 80px; left: 60%; transform: translateX(-50%);">
                    <a href="#" class="btn btn-primary btn-lg">🔮 占う 🔮</a>
                </div>

{% include "footer.html" %}
