{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{% include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🌙 女教皇（The High Priestess） 🌙</h1>
                        <h4 class="mt-4">逆位置 ～ 不安や迷いに振り回されないで
                        <br>心の中にあるモヤモヤが強くなり、判断が鈍っているかもしれません!
                        <br>情報が足りなかったり、感情に流されすぎたりして、冷静な決断ができない状態!
                        <br>誰かの意見に振り回されず、自分の考えを整理する時間を持つことが大切です!
                        <br>また、秘密や隠し事に関する問題が浮上する可能性も!
                        <br>無理に答えを出そうとせず、しばらく静観するのが賢明です!</h4>
                    </div>
                </main>

                <!-- 「占う」ボタン -->
                <div class="position-absolute" style="bottom: 80px; left: 60%; transform: translateX(-50%);">
                    <a href="#" class="btn btn-primary btn-lg">🔮 占う 🔮</a>
                </div>

{% include "footer.html" %}
