{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{% include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🌱 愚者（The Fool） 🌱</h1>
                        <h4 class="mt-4">正位置 ～ 新しい冒険に飛び込め！
                        <br>人生は旅。あなたは今、スタートラインに立っています!
                        <br>何も知らないことを怖がらず、むしろワクワクしましょう!
                        <br>計画ばかり立てずに、とにかく一歩踏み出すことが大事!
                        <br>時には無鉄砲に見えるかもしれませんが、経験こそが最高の学びになります!
                        <br>周囲の目を気にせず、自分が「面白そう！」と感じることに飛び込んでみて!
                        <br>失敗も含めて、すべてがあなたの糧になるはずです!</h4>
                    </div>
                </main>

                <!-- 「占う」ボタン -->
                <div class="position-absolute" style="bottom: 80px; left: 60%; transform: translateX(-50%);">
                    <a href="#" class="btn btn-primary btn-lg">🔮 占う 🔮</a>
                </div>

{% include "footer.html" %}
