{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{% include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🌙 女教皇（The High Priestess） 🌙</h1>
                        <h4 class="mt-4">正位置 ～ 直感を信じ、静かに未来を見つめるとき
                        <br>今は焦らず、じっくりと状況を見極めるタイミング!
                        <br>答えを外に求めるのではなく、あなたの内側に目を向けてみてください!
                        <br>直感が鋭くなっているので、大切な決断をするときは自分の心の声に耳を傾けて!
                        <br>すぐに結果を出そうとせず、冷静に準備を整えることが成功へのカギになります!
                        知識を深めたり、一人の時間を大切にすることで、より良い未来が開けるでしょう!</h4>
                    </div>
                </main>

                <!-- 「占う」ボタン -->
                <div class="position-absolute" style="bottom: 80px; left: 60%; transform: translateX(-50%);">
                    <a href="#" class="btn btn-primary btn-lg">🔮 占う 🔮</a>
                </div>

{% include "footer.html" %}
