{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{% include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🔮 魔術師（The Magician） 🔮</h1>
                        <h4 class="mt-4">正位置 ～ 自分の力を信じて、今こそ動き出すとき!
                        <br>あなたにはすでに、夢を叶えるための才能や道具が揃っています!
                        <br>必要なのは、それをどう活かすかを考えること!
                        <br>魔術師は「行動する人」
                        <br>思っているだけでは現実は変わりません!
                        <br>勇気を出して第一歩を踏み出し、持てる力を最大限に使ってみてください!
                        <br>自己表現を恐れず、自分を信じて進むことで、望む未来がグッと引き寄せられます
                        <br>今こそ、あなたのマジックを発揮するときです!</h4>
                    </div>
                </main>

                <!-- 「占う」ボタン -->
                <div class="position-absolute" style="bottom: 80px; left: 60%; transform: translateX(-50%);">
                    <a href="#" class="btn btn-primary btn-lg">🔮 占う 🔮</a>
                </div>

{% include "footer.html" %}
