{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{% include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🌱 愚者（The Fool） 🌱</h1>
                        <h4 class="mt-4">逆位置 ～ 無謀な行動に注意！慎重さも大切に!
                        <br>勢いだけで突っ走ると、思わぬ落とし穴にはまるかも!
                        <br>準備不足のまま大きな決断をするのはリスクが大きいので、もう少し計画を立ててみましょう!
                        <br>新しいことに挑戦するのは素晴らしいですが、現実的なリスクも考慮して!
                        <br>楽観的すぎるとチャンスを逃す可能性も
                        <br>今は、一歩引いて状況を整理することが大切です!</h4>
                    </div>
                </main>

                <!-- 「占う」ボタン -->
                <div class="position-absolute" style="bottom: 80px; left: 60%; transform: translateX(-50%);">
                    <a href="#" class="btn btn-primary btn-lg">🔮 占う 🔮</a>
                </div>

{% include "footer.html" %}
