{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{% include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🌿 女帝（The Empress） 🌿</h1>
                        <h4 class="mt-4">逆位置 ～ 依存しすぎ？自己管理が必要かも
                        <br>愛情深いのは素晴らしいですが、誰かに頼りすぎたり、甘えすぎたりしていませんか？
                        <br>または、周りに振り回されて、自分の時間やエネルギーを使い果たしてしまう可能性も!
                        <br>自分を大切にすることと、必要以上に尽くしすぎることは別!
                        <br>バランスを意識し、しっかりとした自己管理を心がけましょう!<br>また、だらけすぎや怠け癖にも注意が必要です!</h4>
                    </div>
                </main>

                <!-- 「占う」ボタン -->
                <div class="position-absolute" style="bottom: 80px; left: 60%; transform: translateX(-50%);">
                    <a href="#" class="btn btn-primary btn-lg">🔮 占う 🔮</a>
                </div>

{% include "footer.html" %}
