<!-- 小アルカナのペンタクルのカードの説明 -->
{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{%include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🎴 PENTACLES 🎴</h1>
                        <h4 class="mt-4">ペンタクルの1 ：新たな財産、チャンス、安定
                        <br>ペンタクルの2 ：バランス、柔軟性、適応力
                        <br>ペンタクルの3 ：チームワーク、技術の向上、協力
                        <br>ペンタクルの4 ：執着、貯蓄、保守的な態度
                        <br>ペンタクルの5 ：貧困、困難、孤立
                        <br>ペンタクルの6 ：施し、バランスの取れた経済状況
                        <br>ペンタクルの7 ：努力の成果、成長、長期的展望
                        <br>ペンタクルの8 ：努力、熟練、技術向上
                        <br>ペンタクルの9 ：成功、豊かさ、独立
                        <br>ペンタクルの10：家族の繁栄、伝統、安定
                        <br>ペンタクルのペイジ：学び、勤勉、新たなチャンス
                        <br>ペンタクルのナイト：堅実、誠実、忍耐強い
                        <br>ペンタクルのクイーン：現実的、豊かさ、思いやり
                        <br>ペンタクルのキング：経済的成功、安定、支配力
                        </h4>

                    </div>
                </main>

{% include "footer.html" %}