<!-- 大アルカナの女教皇のカードの説明 -->
{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{%include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🎴 PRIESTESS (女教皇) 🎴</h1>
                        <h4 class="mt-4">意味：直感・神秘・知恵・内なる声
                        <br>逆位置：秘密・鈍感・直感の欠如</h4>
                    </div>
                </main>

{% include "footer.html" %}