<!-- 大アルカナの星のカードの説明 -->
{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{%include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🎴 STAR (星) 🎴</h1>
                        <h4 class="mt-4">意味：希望・癒し・インスピレーション・導き<br>逆位置：失望・悲観・方向性を見失う</h4>

                    </div>
                </main>

{% include "footer.html" %}