<!-- 大アルカナの力の説明ページ -->
{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{%include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🎴 STRENGTH (力) 🎴</h1>
                        <h4 class="mt-4">意味：勇気・忍耐・内なる強さ・自制心
                        <br>逆位置：弱さ・無力感・短気</h4>
                    </div>
                </main>

{% include "footer.html" %}