<!-- 大アルカナの太陽の説明ページ -->
{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{%include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🎴 SUN (太陽) 🎴</h1>
                        <h4 class="mt-4">意味：成功・幸福・活力・喜び
                        <br>逆位置：曇りがち・過信・楽観しすぎ</h4>

                    </div>
                </main>

{% include "footer.html" %}