<!-- 小アルカナのソードのカードの説明 -->
{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{%include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🎴 SWORDS 🎴</h1>
                        <h4 class="mt-4">ソードの1 ：知性、決断、真実の発見
                        <br>ソードの2 ：迷い、葛藤、決断を先延ばし
                        <br>ソードの3 ：失恋、痛み、裏切り
                        <br>ソードの4 ：休息、回復、内省
                        <br>ソードの5 ：対立、不誠実、勝ち負け
                        <br>ソードの6 ：移動、解決策、新たな方向性
                        <br>ソードの7 ：策略、裏切り、計略
                        <br>ソードの8 ：束縛、不安、身動きが取れない
                        <br>ソードの9 ：悪夢、不安、ストレス
                        <br>ソードの10：終焉、痛みのピーク、裏切り
                        <br>ソードのペイジ：好奇心、警戒心、情報収集
                        <br>ソードのナイト：行動的、断固たる決意、急な変化
                        <br>ソードのクイーン：知的、冷静、公正
                        <br>ソードのキング：論理的、指導力、決断力
                            </h4>

                    </div>
                </main>

{% include "footer.html" %}