<!-- 大アルカナの節制の説明ページ -->
{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{%include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🎴 TEMPERANCE (節制) 🎴</h1>
                        <h4 class="mt-4">意味：調和・バランス・癒し・穏やかさ
                        <br>逆位置：不均衡・極端・焦り</h4>

                    </div>
                </main>

{% include "footer.html" %}