<!-- 小アルカナのワンドのカードの説明 -->
{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{%include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🎴 WANDS 🎴</h1>
                        <h4 class="mt-4">ワンドの1 ：新しい始まり、エネルギー、情熱
                        <br>ワンドの2 ：計画、選択、決断の時
                        <br>ワンドの3 ：成長、ビジョン、冒険
                        <br>ワンドの4 ：安定、祝福、家庭の幸福
                        <br>ワンドの5 ：競争、対立、挑戦
                        <br>ワンドの6 ：勝利、成功、称賛
                        <br>ワンドの7 ：防衛、勇敢な姿勢、試練
                        <br>ワンドの8 ：急展開、スピード、メッセージ
                        <br>ワンドの9 ：忍耐、警戒、回復の兆し
                        <br>ワンドの10：重圧、責任、負担
                        <br>ワンドのペイジ：好奇心、冒険心、新たな可能性
                        <br>ワンドのナイト：行動力、情熱、衝動的
                        <br>ワンドのクイーン：魅力的、自信、カリスマ性
                        <br>ワンドのキング：リーダーシップ、影響力、力強い意志</h4>
                    </div>
                </main>

{% include "footer.html" %}