<!-- 大アルカナの世界のカードの説明ページ -->
{% load static %}

{% include "header.html" %}

{% include "navbar.html" %}

{% include "devination.html"%}

{% include "card_explanation.html" %}

{%include "act.html" %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">🎴 WORLD (世界) 🎴</h1>
                        <h4 class="mt-4">意味：完成・達成・統合・成功
                        <br>逆位置：未完成・達成感の欠如・停滞</h4>
                    </div>
                </main>

{% include "footer.html" %}